<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Animes Achimid - Sua central de animes</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/home.css}" />
</head>
<body>
    <header th:replace="~{fragments/layout :: header}"></header>

    <div class="main-wrapper">
        <main class="content-area">
            <section id="releases-section">
                <div class="section-header"><h2 class="section-title">✨ Últimos Lançamentos</h2></div>
                <div class="anime-grid" id="recent-grid">
                    <a class="anime-card" th:each="release : ${releases}" th:href="|/anime/${release.animeSlug}|">
                        <span class="ep-badge" th:text="|${release.animeType}: ${release.animeNumber}|">Episode Number</span>
                        <img th:src="${release.animeImageUrl}" th:alt="${release.animeTitle}">
                        <div class="anime-card-info">
                            <span class="anime-card-title" th:text="${release.animeTitle}"></span>
                        </div>
                    </a>
                </div>
                <div class="load-more-container">
                    <button class="btn-load-more" id="btn-load-recent">Exibir mais</button>
                </div>
            </section>

            <section>
                <div class="section-header"><h2 class="section-title">🔥 Animes Recomendados</h2></div>
                <div class="anime-grid">
                    <a class="anime-card" th:each="recommended : ${recommendations}" th:href="@{/animes/${recommended.slug}}" >
                        <div class="rating-badge">
                            ⭐ <span th:text="${recommended.rating}"></span>
                        </div>
                        <img th:src="${recommended.imageUrl}" th:alt="${recommended.title}">
                        <div class="anime-card-info">
                            <span class="anime-card-title" th:text="${recommended.title}">Anime Recommended Title</span>
                        </div>
                    </a>
                </div>
            </section>
        </main>

        <aside class="sidebar">
            <div class="sidebar-box">
                <h3 class="sidebar-title">📥 Lista de Episódios</h3>
                <div class="sidebar-search-wrapper">
                    <input type="text" id="sidebarSearch" class="sidebar-search" placeholder="Filtrar por nome...">
                    <span id="clearSidebar" class="btn-clear-sidebar">&times;</span>
                </div>
                <div id="sidebar-episodes"></div>
            </div>

            <div class="sidebar-box">
                <h3 class="sidebar-title">📅 Calendário</h3>
                <div class="calendar-item" th:each="item : ${calendarRelease.releasesToday}"  th:classappend="${item.released} ? 'released' : ''">
                    <span class="cal-name" th:text="${item.name}"></span>
                    <div class="cal-info">
                        <span class="cal-time" th:text="${item.time}"></span>
                        <span class="check-icon" th:if="${item.released}">✓</span>
                    </div>
                </div>
            </div>

            <div class="sidebar-box">
                <h3 class="sidebar-title">❤️ Acompanhando</h3>
                <div class="fav-item" th:each="fallow : ${fallowingList}">
                    <img th:src="${fallow.imageUrl}" class="fav-img">
                    <div style="flex:1">
                        <span class="fav-name" th:text="${fallow.name}">Anime Fallow Name</span>
                        <div class="fav-progress-bg">
                            <div class="fav-progress-fill" th:style="|width: ${fallow.progressPercentage}%;|"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-box">
                <h3 class="sidebar-title">🌐 Sites Acompanhados</h3>
                <div class="sidebar-search-wrapper">
                    <input type="text" id="siteSearch" class="sidebar-search" placeholder="Filtrar sites...">
                    <span id="clearSiteSearch" class="btn-clear-sidebar">&times;</span>
                </div>
                <div id="sidebar-sites">
                    <div class="calendar-item" th:each="status : ${sitesStatus}"  th:classappend="${status.ok} ? 'released' : ''">
                        <span class="cal-name" th:text="${status.name}">Site Name</span>
                        <div class="cal-info">
                            <span class="cal-time" style="font-size: 0.7rem;" th:text="${status.time}">Date Status</span>
                            <span class="check-icon" th:if="${status.ok}">✓</span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    <footer th:replace="~{fragments/layout :: footer}"></footer>

    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>