name: Build and Push Docker Image

on:
  push:
    branches:
      - main # Triggers the workflow on pushes to the main branch
  pull_request:
    branches:
      - main # Also runs on pull requests to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: . # The build context is the current directory
          file: ./Dockerfile # Path to your Dockerfile
          push: true # Push the image to the registry
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/animes-achimid-v2:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max